:root{
    padding:0px;
    margin:0px;
}
body{
    background-image:url(https://c1.peakpx.com/wallpaper/343/405/210/water-waves-ocean-sea-wallpaper-preview.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
div{
    color:white;
    text-align: center;
}
div h1{
    font-size:9rem;
    letter-spacing: 3px;
    margin-bottom: 0px;
    
}
div h3{
    font-size:1.7rem;
    margin-top: 0px;
    padding-bottom:1px;
}
div h6{
    display:inline-block;
    border:3px solid white;
    margin:20px;
    letter-spacing: 2px;
    font-size: 1.5rem;
}
.c1{
    padding:10px 30px 10px;
}
.c2{
    padding:10px 60px 10px;
}

    